[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
